<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Delicious - Food Blog Template | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">

</head>
        <body>
        <!-- Preloader -->
        <div id="preloader">
            <i class="circle-preloader"></i>
            <img src="/img/core-img/salad.png" alt="">
        </div>


        <!-- ##### Header Area Start ##### -->
        <header class="header-area">
        <div th:replace="~{header.html}"></div>
        </header>
        <!-- ##### Header Area End ##### -->

        <!-- ##### Hero Area Start ##### -->
        <!-- ##### Hero Area Start ##### -->
        <section class="hero-area">
            <div class="hero-slides owl-carousel">
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img" style="background-image: url('/images/206.jpg');">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                    <h2 data-animation="fadeInUp" data-delay="300ms">돼지고기 김치찜</h2>
                                    <p data-animation="fadeInUp" data-delay="500ms">컬컬하고 맛있는 돼지고기 김치찜! 오늘 저녁은 가족과 함께 즐겨보시는 게 어떨까요?</p>
                                    <a href="recipe/recipeview?recipeId=206" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">레시피 알아보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img" style="background-image: url('/images/211.jpg');">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                    <h2 data-animation="fadeInUp" data-delay="300ms">짜장면</h2>
                                    <p data-animation="fadeInUp" data-delay="500ms">오늘은 중화요리 어떠신가요? 짜장면뿐만아니라 짬뽕,탕수육 고추 잡채등 다양한 레시피들을 알아보세요!</p>
                                    <a href="recipe/recipeview?recipeId=211" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">레시피 알아보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img" style="background-image: url('/images/223.jpg');">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                    <h2 data-animation="fadeInUp" data-delay="300ms">야끼 우동</h2>
                                    <p data-animation="fadeInUp" data-delay="500ms">매콤하고 쫄깃한 야끼우동 어떠신가요?  야끼 우동과같이 먹을 다양한 일식레시피들을 알아보세요! </p>
                                    <a href="recipe/recipeview?recipeId=223" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">레시피 알아보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-hero-slide bg-img" style="background-image: url('/images/238.jpg');">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                    <h2 data-animation="fadeInUp" data-delay="300ms">감자 치즈볼</h2>
                                    <p data-animation="fadeInUp" data-delay="500ms">입안에서 퍼지는 치즈와감자의 환상궁합! 감자 치즈볼과함께 기분 좋은 간식타임을 가져봐요! </p>
                                    <a href="recipe/recipeview?recipeId=238" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">레시피 알아보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ##### Top Catagory Area Start ##### -->
        <section class="top-catagory-area section-padding-80-0">
            <div class="container" >
                <div class="row" >
                    <!-- Top Catagory Area -->
                    <div class="col-12 col-lg-6">
                        <div class="single-top-catagory">
                            <img src="/images/232.jpg" alt="" style="width: 550px; height: 275px"/>
                            <!-- Content -->
                            <div class="top-cta-content">
                                <h3>허니 치즈 파나니</h3>
                                <h6>양식 &amp; 난이도:쉬움 </h6>
                                <a href="recipe/recipeview?recipeId=232" class="Recipebtn1">자세히보기</a>
                            </div>
                        </div>
                    </div>
                    <!-- Top Catagory Area -->
                    <div class="col-12 col-lg-6">
                        <div class="single-top-catagory">
                            <img src="/images/222.jpg" alt=""style="width: 550px; height: 275px"/>
                            <!-- Content -->
                            <div class="top-cta-content">
                                <h3>연어 초밥</h3>
                                <h6>일식 &amp; 난이도:쉬움</h6>
                                <a href="recipe/recipeview?recipeId=222" class="Recipebtn2">자세히보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ##### Top Catagory Area End ##### -->

        <!-- ##### Best Receipe Area Start ##### -->
        <section class="best-receipe-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>The best Receipies</h3>
                        </div>
                    </div>
                </div>

                <div class="row" style="text-align: center;">
                    <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <iframe width="300" height="250"     src="https://www.youtube.com/embed/YF7njoTp7EY?si=ttBpeYlomTuOVJn9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>고추장 달걀조림</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <iframe width="300" height="250" src="https://www.youtube.com/embed/qwyHi6EMilA?si=Er9aA0M6dI-REO_F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>돼지고기 김치찜</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <iframe width="300" height="250" src="https://www.youtube.com/embed/dGzdQKrx64o?si=fCnvZl6x71-9PYvD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>불고기파전</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <iframe width="300" height="250" src="https://www.youtube.com/embed/39tz_o0ml3E?si=iqJEDiCI9yFqtzbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>유산슬</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <!--                        <img src="img/bg-img/r5.jpg" alt="">-->
                            <iframe width="300" height="250" src="https://www.youtube.com/embed/BqxpjY7TJ8g?si=c2_RHtJJrDU1YLzv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>마파두부</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <iframe width="300" height="250" src="https://www.youtube.com/embed/tQUTkWfHdO8?si=1dNVDK2PruoqYZ0K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="receipe-content">
                                <a href="receipe-post.html">
                                    <h5>짜장면</h5>
                                </a>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Best Receipe Area End ##### -->

        <!-- ##### CTA Area Start ##### -->
        <section class="cta-area bg-img bg-overlay" style="background-image: url('/img/bg-img/background.jpg');background-size: cover; background-position: center;">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Cta Content -->
                        <div class="cta-content text-center">
                            <h2>Go To Recipe</h2>
                            <p>오늘은 어떤 레시피로 요리하실건가요? 이곳 흑미백미는 다양한 레시피(한식,중식,일식,양식)가 있습니다. 지금 당장 요리해보세요!!</p>
                            <a href="receipe-post" class="Recipebtn">Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### CTA Area End ##### -->




        <!-- ##### Quote Subscribe Area End ##### -->

        <!-- ##### Follow Us Instagram Area Start ##### -->
        <!-- ##### Follow Us Instagram Area Start ##### -->
        <div class="follow-us-instagram" style="text-align: center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5>another Recipe</h5>
                    </div>
                </div>
            </div>
            <!-- Instagram Feeds -->
            <div class="insta-feeds d-flex flex-wrap">
                <!-- Single Insta Feeds -->
                <div class="single-insta-feeds">
                    <img src="/images/208.jpg" alt="" style="width: 300px; height: 300px"/>
                    <!-- Icon -->
                    <div class="insta-icon">
                        <a href="recipe/recipeview?recipeId=208" class="Recipebtn3" aria-hidden="true">더보기</a>
                    </div>
                </div>


                <!-- Single Insta Feeds -->
                <div class="single-insta-feeds">
                    <img src="/images/212.jpg" alt=""  style="width: 300px; height: 300px"/>
                    <!-- Icon -->
                    <div class="insta-icon">
                        <a href="recipe/recipeview?recipeId=212" class="Recipebtn3" aria-hidden="true">더보기</a>
                    </div>
                </div>

                <!-- Single Insta Feeds -->
                <div class="single-insta-feeds">
                    <img src="/images/213.jpg" alt=""  style="width: 300px; height: 300px"/>
                    <!-- Icon -->
                    <div class="insta-icon">
                        <a href="recipe/recipeview?recipeId=213" class="Recipebtn3" aria-hidden="true">더보기</a>
                    </div>
                </div>

                <!-- Single Insta Feeds -->
                <div class="single-insta-feeds">
                    <img src="/images/225.jpg" alt=""  style="width: 300px; height: 300px"/>
                    <!-- Icon -->
                    <div class="insta-icon">
                        <a href="recipe/recipeview?recipeId=225" class="Recipebtn3" aria-hidden="true">더보기</a>
                    </div>
                </div>

                <!-- Single Insta Feeds -->
                <div class="single-insta-feeds">
                    <img src="/images/227.jpg" alt=""  style="width: 300px; height: 300px"/>
                    <!-- Icon -->
                    <div class="insta-icon">
                        <a href="recipe/recipeview?recipeId=227" class="Recipebtn3" aria-hidden="true">더보기</a>
                    </div>
                </div>

                <!-- Single Insta Feeds -->
                <div class="single-insta-feeds">
                    <img src="/images/240.jpg" alt=""  style="width: 300px; height: 300px"/>
                    <!-- Icon -->
                    <div class="insta-icon">
                        <a href="recipe/recipeview?recipeId=240" class="Recipebtn3" aria-hidden="true">더보기</a>
                    </div>
                </div>
                <!-- Single Insta Feeds -->
                <div class="single-insta-feeds">
                    <img src="/images/231.jpg" alt="" style="width: 300px; height: 300px"/>
                    <!-- Icon -->
                    <div class="insta-icon">
                        <a href="recipe/recipeview?recipeId=231" class="Recipebtn3" aria-hidden="true">더보기</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Follow Us Instagram Area End ##### -->

        <!-- ##### Footer Area Start ##### -->
        <footer class="footer-area">
            <div th:replace="~{footer.html}"></div>
        </footer>
<!-- ##### Footer Area Start ##### -->


<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>

<script>
$('#logo').click(()=>{
    location.href = "/index";
});
$('#bRecipe').click(()=>{
    location.href = "/receipe-post";
});
$('#blogPost').click(()=>{
    location.href = "/blog-post";
});
$('#join').click(()=>{
    location.href = "/mJoinForm";
});
$('#login').click(()=>{
    location.href = "/mLoginForm";
});
$('#cart').click(()=>{
    location.href = "/cart";
});

</script>
        <script src="/js/dropdown.js"></script>
</body>
</html>
